@model websiteLogin.Models.ToDoList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("ToDoList", "Home", FormMethod.Post))
        {
            <div class="card">
                <div class="card-header">
                    <div class="card-title">ToDoList</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Beskrivelse)
                        @Html.TextBoxFor(m => m.Beskrivelse, "", new { @class = "form-control", @placeholder = "Beskrivelse" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-danger" value="Save" />
                    </div>
                </div>
            </div>
        }
        <div class="card">
            <div class="card-body">
                <a asp-controller="Home" asp-action="ShowToDoList">Show stored ToDo Lists</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a asp-controller="Home" asp-action="Login">Logout</a>
            </div>
        </div>
    </div>
</div>